<hr />
<tr>
	<td class="recurrence" colspan="2"></th>
		<% if User.current.allowed_to?(:add_issue_recurrence, project) %>		
		    <div class="contextual"><%= link_to(l(:label_add_recurring_task), new_recurring_task_path(:issue_id => issue.id, :project_id => project.id), :class => 'icon icon-add') %></div>
		<% end %>
		<p><strong><%= l(:field_recurrence)%></strong></p>
		<% if issue.recurs? %>
			<ul>
				<% issue.recurring_tasks.each do |rt| %>
					<li><%= if User.current.allowed_to?(:view_issue_recurrence, project) then link_to(rt.recurrence_to_s, edit_recurring_task_path(:id => rt.id, :project_id => project.id)) else rt.recurrence_to_s end %></li>
				<% end %>
			</ul>
		<% else %>
			<p><%= l(:label_no_recurrence)%></p>
		<% end %>
	</td>
</tr>
