<hr />
<tr>
	<th class="recurrence">><%= l(:field_recurrence)%>:</th>
	<td class="recurrence">
		<ul>
		<% if issue.recurs? %>
			<% issue.recurring_tasks.each do |rt| %>		
				<li><%= link_to(rt.to_s, recurring_task_path(:id => rt.id, :project_id => project.id)) %></li>
			<% end %>
		<% else %>
			<li><%= l(:label_no_recurrence)%></li>
		<% end %>
		</ul>
		
		<% if User.current.allowed_to?(:add_issue_recurrence, project) %>		
		    <p><%= link_to(l(:label_add_recurring_task), new_recurring_task_path(:issue_id => issue.id, :project_id => project.id), :class => 'icon icon-add') %></p>
		<% end %>
	</td>
</tr>