<tr>
	<th class="recurrence">><%= l(:field_recurrence)%>:</th>
	<td class="deliverable">
		<% if issue.recurs? %>
			<% issue.recurring_tasks.each do |rt| %>		
				<%= link_to(rt.to_s, {:action => 'show', :id => rt.id}) %><br /></td>
			<% end %>
		<% else %>
		    <%= link_to(l(:label_add_recurring_task), {:controller => 'recurring_tasks', :action => 'new', :issue => issue}, :class => 'icon icon-add') %>
		<% end %>
	</td>
</tr>